header{
    background-color: gray;
    border : 5px chartreuse;
    width: 770px;
    height: 200px;
    margin: 5px;
    border-radius: 10px ;
}
main{
    width: 780px;
    height: 400px;
}
nav{
    background-color: gray;
    width : 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}
section{
    background-color: gray;
    width: 450px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}
#primero{
    background-color: burlywood;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}
#segundo{
    background-color: burlywood;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;

}
#tercero{
    background-color: burlywood;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;

}
aside{
    background-color: gray;
    width: 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;

}
footer{
    background-color: gray;
    width: 770px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}